  

   def percentage(self, part, whole):
        temp = 100 * float(part) / float(whole)
        return format(temp, '.2f')

    def plotPieChart(self, positive, wpositive, spositive, negative, wnegative, snegative, neutral, searchTerm, noOfSearchTerms):
        labels = ['Positive [' + str(positive) + '%]', 'Weakly Positive [' + str(wpositive) + '%]','Strongly Positive [' + str(spositive) + '%]', 'Neutral [' + str(neutral) + '%]',
                  'Negative [' + str(negative) + '%]', 'Weakly Negative [' + str(wnegative) + '%]', 'Strongly Negative [' + str(snegative) + '%]']
        sizes = [positive, wpositive, spositive, neutral, negative, wnegative, snegative]
        colors = ['yellowgreen','lightgreen','darkgreen', 'gold', 'red','lightsalmon','darkred']
        patches, texts = plt.pie(sizes, colors=colors, startangle=90)
        plt.legend(patches, labels, loc="best")
        plt.title('How people are reacting on ' + searchTerm.capitalize() + ' by analyzing ' + str(noOfSearchTerms) + ' Tweets.')
        plt.axis('equal')
        plt.tight_layout()
        plt.show()

    def on_click(self):
        searchTerm = self.textbox1.text()
        NoOfTerms = self.textbox2.text()
        #print(type(NoOfTerms))
        NoOfTerms = int(NoOfTerms)
        #print(type(NoOfTerms))
        #print (searchTerm)
        print (NoOfTerms)
		#os.system('python3 twitter.py '+str(values))
        self.DownloadData(searchTerm, NoOfTerms)

if __name__== "__main__":
    app = QApplication(sys.argv)
    sa = SentimentAnalysis()
    #sa.DownloadData()
    sys.exit(app.exec_())